<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HomeSecureData" connectionString="Data Source=D:\DEV\main\DB\HomeSecure.sdf"
         providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>

  <system.serviceModel>
    <bindings configSource="Bindings.config"/>
    <behaviors configSource="Behaviors.config"/>
    
    <client>
      <endpoint address="http://localhost:8081/HomeSecureServer/Inputs"
          binding="basicHttpBinding" bindingConfiguration="HomeSecureServerBinding"
          contract="HomeSecure.Data.Interfaces.IHomeSecureServerInputs" 
                name="HomeSecureInputs" />
    </client>
  </system.serviceModel>

  <system.runtime.serialization>
    <dataContractSerializer configSource="KnownTypes.config" />
  </system.runtime.serialization>
</configuration>